# Example env file for running locally

NODE_ENV=development

APP_PORT=4000
APP_HOST=localhost
APP_SECRET=supersecret

# Database configuration
DB_HOST=localhost
DB_PORT=27017
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=secretPassword

# OAuth configuration
OAUTH_REDIRECT_URL=http://localhost:3030/auth/callback

# KEYCLOAK configuration
KEYCLOAK_SECRET=
KEYCLOAK_CLIENT=bookyp
KEYCLOAK_SUBDOMAIN=auth.geprog.com/auth/realms/bookyp
