# Example env file for running inside a dev container

# set this to run container as non-root (currently only works with uid 1000)
# USER_ID=1000

NODE_ENV=development

##########################################################################
# Database configuration
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=secretPassword

##########################################################################
# Backend configuration
BACKEND_PORT=4000
BACKEND_HOST=localhost
BACKEND_SECRET=supersecret

# Backend OAuth configuration
BACKEND_OAUTH_REDIRECT_URL=http://localhost:3000/
BACKEND_KEYCLOAK_SUBDOMAIN=auth.geprog.com/auth/realms/bookyp
BACKEND_KEYCLOAK_CLIENT=bookyp
BACKEND_KEYCLOAK_SECRET=

# Backend DB configuration (make sure this config matches your DB configuration)
#BACKEND_DB_URI=mongodb://user:pwd@host:port/db
BACKEND_DB_HOST=db
BACKEND_DB_PORT=27017
BACKEND_DB_NAME=bookyp
BACKEND_DB_USERNAME=root
BACKEND_DB_PASSWORD=secretPassword

##########################################################################
# Frontend configuration
FRONTEND_BACKEND_URL=http://localhost:4000
