# Example env file for running inside a dev container

# set this to run container as non-root (currently only works with uid 1000)
# USER_ID=1000

NODE_ENV=development

APP_PORT=4000
APP_HOST=localhost
APP_SECRET=supersecret

# Database configuration
DB_HOST=db
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=secretPassword

# OAuth configuration
OAUTH_REDIRECT_URL=http://localhost:3000/

# KEYCLOAK configuration
KEYCLOAK_SUBDOMAIN=auth.geprog.com/auth/realms/bookyp
KEYCLOAK_CLIENT=bookyp
KEYCLOAK_SECRET=

VITE_BACKEND_URL=http://localhost:4000
