# NODE ENV for development
NODE_ENV=development

# set this to run container as non-root (currently only works with uid 1000)
USER_ID=1000

# DB variabels
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=secretpassword
