# Example env file for running locally (without dev-container)

NODE_ENV=development

##########################################################################
# Database configuration
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=supersecret

##########################################################################
# Backend configuration
BACKEND_PORT=4000
BACKEND_HOST=localhost
BACKEND_SECRET=supersecret
BACKEND_FRONTEND_URL=http://localhost:3000/

# Backend OAuth configuration
BACKEND_OAUTH_REDIRECT_URL=http://localhost:3000/
BACKEND_KEYCLOAK_SUBDOMAIN=localhost:5000/auth/realms/bookyp
BACKEND_KEYCLOAK_LOGOUT_ENDPOINT=/protocol/openid-connect/logout
BACKEND_KEYCLOAK_CLIENT=bookyp
BACKEND_KEYCLOAK_SECRET=

# Backend DB configuration (make sure this config matches your DB configuration)
BACKEND_DB_URI=mongodb://root:supersecret@localhost:27017/bookyp?authSource=admin

# Backend mail configuration
BACKEND_MAIL_HOST=localhost
BACKEND_MAIL_PORT=1025
BACKEND_MAIL_USERNAME=thisIsNotUsed
BACKEND_MAIL_PASSWORD=thisIsNotUsed
BACKEND_MAIL_FROM=Bookyp <bookyp@geprog.com>
BACKEND_MAIL_SECURE=false
BACKEND_MAIL_REQUIRE_TLS=false

# Backend payment configuration
BACKEND_PAYMENT_URL=https://my-payment-service.tld/
BACKEND_PAYMENT_TOKEN=supersecret

# Backend S3 configuration used for file uploads
BACKEND_S3_ENDPOINT=localhost
BACKEND_S3_PORT=9000
BACKEND_S3_SSL=false
BACKEND_S3_ACCESS_KEY=root
BACKEND_S3_SECRET_KEY=supersecret
BACKEND_S3_BUCKET=bookyp-files
BACKEND_S3_PUBLIC_FILE_URL_PREFIX=http://localhost:9080
BACKEND_S3_PUBLIC_UPLOAD_URL_PREFIX=

##########################################################################
# Frontend configuration
FRONTEND_BACKEND_URL=http://localhost:4000

##########################################################################
# E2E Testing configuration
E2E_AUTH_USERNAME=
E2E_AUTH_PASSWORD=

##########################################################################
# CDN configuration
S3_ACCESS_KEY=root
S3_SECRET_KEY=supersecret
S3_BUCKET=bookyp-files
